<div class="container">
  <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
    <h2>Editing Blog</h2>

    <%= render 'form' %>

    <%= link_to "Show", blog_path(@blog), class: 'btn btn-default btn-sm btn-success' %>
    <%= link_to 'Back', blogs_path, class: 'btn btn-default btn-sm btn-success' %>
  </div>
</div>
